[submodule "Zsign"]
	path = Zsign
	url = https://github.com/royerlraph79/Zsign-Package.git
	branch = package
[submodule "IDeviceKitten"]
	path = IDeviceKitten
	url = https://github.com/khcrysalis/IDeviceKit
